extends layout

block content
  h1= title
  p #{body}

  form(action='/', method='POST')
      | Title: 
      input(type='text', name='title', value='')
      |          Body: 
      input(type='text', name='body', value='')
      input(type='submit', value='Submit')
